section {
    width: 100%;
    margin: 3rem auto;
    display: flex;

    justify-content: space-between;
}
.content_div {
    width: 30%;



}

.sectionimage_div {
    width: 65%;
}

.sectionimage_div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
        transition: transform 0.4s cubic-bezier(.5, .15, 0, 1), margin 0.4s cubic-bezier(.5, .15, 0, 1);
}
.sectionimage_div img:hover{
transform: scale(1.02) translateX(2px);
    cursor: pointer;
}


.price_listing_wrapper {
    margin-top: 20rem;
    line-height: 2rem;
}

#one_plus_11{
    font-size: 3rem;
color: rgba(0, 0, 0, 0.95);
    text-align: center;
}



.button_div {
    display: flex;
    justify-content: space-around;
    width: 75%;
    margin-top: 20px;
}

.button_div button:nth-child(1) {
    padding: 0.2rem 2.5rem;
    width: 190px;
    border: 1px solid black;
    background-color: black;
    color: white;
}

.button_div button:nth-child(2) {
    padding: 0.2rem 2.5rem;
    width: 190px;
    border: 1px solid black;
    background-color: transparent;
    color: black;
}

.button_div button:nth-child(1):hover {
    width: 190px;
    border: none;
    background-color: rgba(63, 62, 62, 0.74);
    color: white;
}

.button_div button:nth-child(2):hover {
    width: 190px;
    border: 1px solid black;
    background-color: #eeeeee;
    color: black;
}
